body {
    background-color: black;
    font: normal 16px arial, sans-serif;
    color:white;
}
div#columnLeft {
    width: 66%;
    float:left;
}
div#columnRight {
    width: 30%;
    float:right;
    margin: 0 auto;
}
div#message {
    text-align:center;
    font-size:32pt;
    margin-top:40px;
    color: coral;
}
span.engNotice {
    font-size: 28pt;
    font-weight: bold;
}
div#clock {
    margin: 20px;
    padding: 10px;
    min-width: 220px;
    text-align:center;
}
div#clockText {
    font-size: 36pt;
    text-align: center;
    margin-bottom:50px;
}
span#time {
    font-size:58pt;
    font-weight:bold;
}
div#footer {
    clear:both;
    margin-top:50px;
    padding-top:30px;
    border-top: solid 3px #808080;
    text-align:center;
    font-size:60px;
}
div#contact {
    margin-top:55px;
    text-align: center;
    font-size: 34pt;
    color: mediumseagreen;
}
div.light {
    border: solid 5px #808080;
    color: #808080;
    font-weight: bold;
    padding:10px;
    margin:10px;
    text-align:center;
    font-size:36pt;
}
div.small-light {
    border: solid 3px #808080;
	color: #808080;
    font-weight: bold;
    padding:5px;
	margin-left:10px;
    text-align:center;
    font-size:20pt;
	display:inline;
}
span.countdown {
    color: coral;
    font-weight:bold;
}
span.contactInfo {
    color: lime;
    font-weight:bold;
    margin:0 20px;
}