@font-face {
    font-family: 'tex_gyre_adventorregular';
    src: url('texgyreadventor-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: black;
    font-family: tex_gyre_adventorregular, arial, sans-serif;
	font-size: 14pt;
    color:white;
}
div#columnLeft {
    width: 66%;
    float:left;
}
div#columnRight {
    width: 30%;
    float:right;
    margin: 0 auto;
}
div#message {
    text-align:center;
    font-size:32pt;
    margin-top:40px;
    color: coral;
}
span.engNotice {
    font-size: 28pt;
    font-weight: bold;
}
div#clock {
    margin: 20px;
    padding: 10px;
    min-width: 220px;
    text-align:center;
}
div#clockText {
    font-size: 36pt;
    text-align: center;
    margin-bottom:50px;
}
span#time {
    font-size:58pt;
    font-weight:bold;
}
div#footer {
    clear:both;
    margin-top:50px;
    padding-top:30px;
    border-top: solid 3px #808080;
    text-align:center;
    font-size:54px;
}
div#contact {
    margin-top:55px;
    text-align: center;
    font-size: 30pt;
    color: #8ebb38;
}
div#flash-container {
    display: none;
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width: 100%;
    background-color: red;
    color: white;
    animation-name: example;
    animation-duration: 4s;
    z-index:5;
}
div#flash-message {
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 50%;
    font-size: 10em;
    transform: translateY(-50%);
    text-decoration: blink;
}
div.light {
    border: solid 5px #808080;
    color: #808080;
    font-weight: bold;
    padding:10px 0px;
    margin:10px 60px 10px 20px;
    text-align:center;
    font-size:34pt;
}
div.small-light {
    border: solid 3px #808080;
	color: #808080;
    font-weight: bold;
    padding:5px;
	margin-left:20px;
    text-align:center;
    font-size:20pt;
	display:inline;
}
span.countdown {
    color: coral;
    font-weight:bold;
}
span.contactInfo {
    color: #8ebb38;
    font-weight:bold;
    margin:0 20px;
}
div#stationlogo {
	position:absolute;
	top:5px;
	left:5px;
	z-index:2;
	width:200px;
	height:83px;
}

@keyframes pulsing-light-background {
    from { background-color: red;}
    to {background-color: black;}
}
.pulse {
    animation-name: pulsing-light-background;
    animation-duration: 1s;
    animation-iterations: 5;
    animation-direction; reverse;
}