[Unit]
Description=Monitors studio state GPIOs

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/studio-screen/pollStudioState.py 8081
User=root
Group=root

[Install]
WantedBy=multi-user.target
